{% extends "base.html" %}
{% block title %}Track IP{% endblock title %}
{% block content %}

{# setup vars for table id's #}
{% set first_id = (page - 1) * num_paginated + 1 %}
{% set id_incr = first_id %}
{% set last_id = page * num_paginated %}
{% if last_id > list_records.total %}
	{% set last_id = list_records.total %}
{% endif %}

	<div style="font-size: 1.5em;text-align: center">
		<h3>Track IP</h3>
		<hr>
	</div>
	<div style="font-size: 1em;text-align: center">
		{% if list_records.items == None %}
			<strong>OOPS... no items on this page</strong>
		{% else %}
		{{ list_records.items | length }}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>{{ first_id }} ... {{ last_id }}</th>
					<th>Time</th>
					<th>IP</th>
					<th>User Agent</th>
				</tr>
			</thead>
		{% for item in list_records.items %}
			<tr>
				<td>{{ id_incr }}</td>{% set id_incr = id_incr + 1 %}
				<td>{{ item.at_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
				<td>{{ item.user_ip }}</td>
				<td>{{ item.user_agent }}</td>
			</tr>
		{% endfor %}
		</table>
		{% endif %}
		<hr>

		<ul class="pagination">
			{%- for page in list_records.iter_pages() %}
				{% if page %}
					{% if page != list_records.page %}
						<li> <a href="{{ url_for( 'track_user_ip', user_ip = user_ip, page = page) }}">{{ page }}</a> </li>
					{% else %}
						<li class="active"><a href="#"><strong>{{ page }}</strong></a> </li>
					{% endif %}
				{% else %}
					<li> <span class="ellipsis">...</span> </li>
				{% endif %}
			{%- endfor %}
		</ul>

	</div>
{% endblock content %}
